<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="6.0" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberServlet</servlet-name>
        <servlet-class>Controller.MemberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookSuggestionServlet</servlet-name>
        <servlet-class>Controller.BookSuggestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInfoServlet</servlet-name>
        <servlet-class>Controller.UpdateInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>Controller.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookSuggestionByIdServlet</servlet-name>
        <servlet-class>Controller.BookSuggestionByIdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoansServlet</servlet-name>
        <servlet-class>Controller.LoansServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateStaff</servlet-name>
        <servlet-class>Controller.CreateStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategory</servlet-name>
        <servlet-class>Controller.AddCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listCategory</servlet-name>
        <servlet-class>Controller.listCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategory</servlet-name>
        <servlet-class>Controller.UpdateCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategory</servlet-name>
        <servlet-class>Controller.DeleteCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBook</servlet-name>
        <servlet-class>Controller.ViewBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStaffRole</servlet-name>
        <servlet-class>Controller.ChangeStaffRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListStaffs</servlet-name>
        <servlet-class>Controller.ListStaffs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStaff</servlet-name>
        <servlet-class>Controller.UpdateStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListBook</servlet-name>
        <servlet-class>Controller.ListBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addBook</servlet-name>
        <servlet-class>Controller.addBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listBook</servlet-name>
        <servlet-class>Controller.listBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateBook</servlet-name>
        <servlet-class>Controller.updateBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBook</servlet-name>
        <servlet-class>Controller.DeleteBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteStaff</servlet-name>
        <servlet-class>Controller.deleteStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staffInfor</servlet-name>
        <servlet-class>Controller.staffInfor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeStaffPassword</servlet-name>
        <servlet-class>Controller.changeStaffPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffInfor</servlet-name>
        <servlet-class>Controller.StaffInfor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createLoan</servlet-name>
        <servlet-class>Controller.createLoan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listPublisher</servlet-name>
        <servlet-class>Controller.listPublisher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addPublisher</servlet-name>
        <servlet-class>Controller.addPublisher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatePublisher</servlet-name>
        <servlet-class>Controller.updatePublisher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletePublisher</servlet-name>
        <servlet-class>Controller.deletePublisher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listAuthor</servlet-name>
        <servlet-class>Controller.listAuthor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addAuthor</servlet-name>
        <servlet-class>Controller.addAuthor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateAuthor</servlet-name>
        <servlet-class>Controller.updateAuthor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteAuthor</servlet-name>
        <servlet-class>Controller.deleteAuthor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnBook</servlet-name>
        <servlet-class>Controller.ReturnBook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberServlet</servlet-name>
        <url-pattern>/member</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookSuggestionServlet</servlet-name>
        <url-pattern>/bookSuggestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateInfoServlet</servlet-name>
        <url-pattern>/updateInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookSuggestionByIdServlet</servlet-name>
        <url-pattern>/bookSuggestionById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoansServlet</servlet-name>
        <url-pattern>/loans</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateStaff</servlet-name>
        <url-pattern>/createstaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategory</servlet-name>
        <url-pattern>/addCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listCategory</servlet-name>
        <url-pattern>/listCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategory</servlet-name>
        <url-pattern>/updateCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategory</servlet-name>
        <url-pattern>/deleteCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBook</servlet-name>
        <url-pattern>/viewBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStaffRole</servlet-name>
        <url-pattern>/changeRole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListStaffs</servlet-name>
        <url-pattern>/listStaffs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStaff</servlet-name>
        <url-pattern>/updatestaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListBook</servlet-name>
        <url-pattern>/listBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addBook</servlet-name>
        <url-pattern>/addBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listBook</servlet-name>
        <url-pattern>/listBooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateBook</servlet-name>
        <url-pattern>/updateBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBook</servlet-name>
        <url-pattern>/deleteBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteStaff</servlet-name>
        <url-pattern>/deleteStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staffInfor</servlet-name>
        <url-pattern>/staffInfor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeStaffPassword</servlet-name>
        <url-pattern>/changeStaffPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffInfor</servlet-name>
        <url-pattern>/StaffInfor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createLoan</servlet-name>
        <url-pattern>/createLoan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listPublisher</servlet-name>
        <url-pattern>/listPublisher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addPublisher</servlet-name>
        <url-pattern>/addPublisher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatePublisher</servlet-name>
        <url-pattern>/updatePublisher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletePublisher</servlet-name>
        <url-pattern>/deletePublisher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listAuthor</servlet-name>
        <url-pattern>/listAuthor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addAuthor</servlet-name>
        <url-pattern>/addAuthor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateAuthor</servlet-name>
        <url-pattern>/updateAuthor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteAuthor</servlet-name>
        <url-pattern>/deleteAuthor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnBook</servlet-name>
        <url-pattern>/returnBook</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>listLoan</servlet-name>
        <servlet-class>Controller.listLoan</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>listLoan</servlet-name>
        <url-pattern>/listLoan</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>